

.flex-grow {
    flex: 1;
}

.textCategoriesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* aspecto de filtro */
.filter-button {
    text-decoration: none;
    color:#566e94;
}


/* titulo de busqueda de productos */
.store-title {
    color:#566e94;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 5%; 
}

.cardsProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    padding-top: 20px;
    min-height: 60px;
    margin: auto;
    align-items: center; 
}