.card {
    background-color: #e5e2cf;
    border-radius: 1rem;
    text-align: center;
}

.card-footer:last-child {
    border-radius: 1rem;
}

.card-footer {
    background-color: rgb(15 14 14 / 4%);
}

.units-container{
   margin: auto;
}

.units-text{
    text-align: center;
}

.detallebtn {
    margin: 10px 0 10px 10px;
    padding: 10px 20px;
    background-color: rgb(188, 229, 138);
    color: #333;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
.detallebtn:hover {
      background-color: #aeb687;
      border: 1px solid #fff;
    }

    img{
        border-radius: 1rem;
    }

    .col-md-4 {
        height: 30%;
    }

