

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* estilos de navBar */
.navBg{
  background-color: #f7f7f7;
}

.d-flex icon{
  color: rgb(0, 0, 0);
}

/* home background*/

.welcome-section {
  background-image: url("./components/img/home/catcafeblack.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.layer {
  background-color: rgba(255, 206, 138, 0.385);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.welcome-headline {
    color: #fffffff8;
    text-align: center;
    padding-top: 20vh;
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing:normal; 
  }

  .product-card-container {
    margin: auto;
  }
 

